[Unit]
Description=EvoQ Worker
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/evoq
ExecStart=/opt/evoq/ops/bin/worker-up.sh
ExecStop=/opt/evoq/ops/bin/worker-down.sh
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
